/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijado al navegador */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita el desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% de margen superior y centrado horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del 80% */
    max-width: 400px; /* Ancho máximo */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); /* Sombra para el modal */
    border-radius: 10px; /* Bordes redondeados */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label,
.modal-content input {
    margin-bottom: 10px;
}

.modal-content button {
    background-color: #ffcb05;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.modal-content button:hover {
    background-color: #ffc72c;
}
