body {
    font-family:  "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: rgba(248, 248, 248, 0.9);
    color: #333333;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content .logo {
    max-height: 50px;
    margin-right: 20px;
}

.paginactual {
    color: #0070c9;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a:hover {
    color: #0070c9;
}


main {
    padding: 140px 20px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em;
}

.pokemon {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
    margin-top: 50px;
}

.pokemon:hover {
    transform: scale(1.05);
}

.pokemon img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.2s;
}

.pokemon-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.2s;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pokemon:hover .pokemon-details {
    opacity: 1;
}

footer {
    background-color: #f8f8f8;
    color: #333333;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
}

.redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    transition: transform 0.3s, color 0.3s;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
}

.redes-sociales a::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.redes-sociales a.facebook {
    background-color: #3b5998;
}

.redes-sociales a.facebook::before {
    background-image: url('../imagenes/red_social/facebook.png');
}

.redes-sociales a.x {
    background-color: #000000;
}

.redes-sociales a.x::before {
    background-image: url('../imagenes/red_social/x.png');
}

.redes-sociales a.instagram {
    background-color: #e1306c;
}

.redes-sociales a.instagram::before {
    background-image: url('../imagenes/red_social/instagram.png');
}

.redes-sociales a:hover {
    transform: scale(1.2);
    color: white;
}