body {
    font-family:  "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: rgba(248, 248, 248, 0.9);
    color: #333333;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    position:static;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content .logo {
    max-height: 50px;
    margin-right: 20px;
}
#region-kanto {
    margin-top: 40px;
}
#region-kanto h2 {
    color: #0070c9;
    font-weight: 600;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.paginactual {
    color: #0070c9;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a:hover {
    color: #0070c9;
}


main {
    padding: 0px 20px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em;
}

.pokemon {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
    margin-top: 50px;

}

.pokemon:hover {
    transform: scale(1.05);
}

.pokemon img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.2s;
}

.pokemon-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.2s;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.pokemon:hover .pokemon-details {
    opacity: 1;
}

footer {
    background-color: #f8f8f8;
    color: #333333;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
}

.redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    transition: transform 0.3s, color 0.3s;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
}

.redes-sociales a::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.redes-sociales a.facebook {
    background-color: #3b5998;
}

.redes-sociales a.facebook::before {
    background-image: url('../imagenes/red_social/facebook.png');
}

.redes-sociales a.x {
    background-color: #000000;
}

.redes-sociales a.x::before {
    background-image: url('../imagenes/red_social/x.png');
}

.redes-sociales a.instagram {
    background-color: #e1306c;
}

.redes-sociales a.instagram::before {
    background-image: url('../imagenes/red_social/instagram.png');
}

.redes-sociales a:hover {
    transform: scale(1.2);
    color: white;
}
.mapa-kanto {
    position:relative; 
}

.mapa-kanto img {
    margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    height: auto;
}

.auth-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: gray;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.auth-button a {
    text-decoration: none;
    color: #000;
}

.login-button {
    background-color:darkslategrey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.login-button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
    width:96%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #0056b3;
}

.login-button, .register-button {
    background-color:darkslategrey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.login-button {
    position: absolute;
    right: 150px;
    top: 20px;
}

.register-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.login-button:hover, .register-button:hover {
    background-color: #0056b3;
}

#scrollTopBtn {
    display: none;
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0070c9;
    color: white;
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px; 
}

#scrollTopBtn:hover {
    background-color:#3b5998; 
}

